openapi: 3.0.3
info:
  title: WVMC
  version: 1.0.0
servers:
  -
    url: https://dc.kmsys.ru:53338
    description: Основной сервер
components:
  schemas:
    Response:
      title: Response
      type: object
      properties:
        status:
          description: Статус ответа
          type: string
          example: ok
        message:
          description: Обект с опциональными данными
          type: object
          example:
            user:
              id: "400"
              name: Alex
    User:
      title: User
      type: object
      properties:
        id:
          description: Уникальный идентификатор
          type: string
          example: "5"
        name:
          description: Имя
          type: string
          example: anaxita
        email:
          description: Логин
          type: string
          example: support@mail.ru
        company:
          description: Компания
          type: string
          example: КМ Системс
        role:
          description: Уровень прав
          type: integer
          example: 0
    Server:
      title: Server
      type: object
      properties:
        id:
          description: Уникальный идентификатор
          type: string
          example: "sdfg-324df-bnn-df-df"
        name:
          description: Имя
          type: string
          example: SRV_SERVER_ONE
        ip4:
          description: IP4 адрес
          type: string
          example: "172.168.12.33"
        hv:
          description: Гипервизор
          type: string
          example: HV07
        user:
          description: Учетная запись
          type: string
          example: Administrator
        password:
          description: Пароль учетной записи
          type: string
          example: qwerty123
        power_status:
          description: Статус работы
          type: integer
          example: 2
        network:
          description: Статус сети
          type: integer
          example: 2
  securitySchemes:
    token:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /signin:
    post:
      tags:
        - Регистрация и аутентификация
      summary: Вход
      description: Вход по логину паролю
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              email: anaxita
              password: qwerty123
      responses:              
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Поля email, password  не могут быть пустыми
                    meta: request has empty fields
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                  success:
                    value:
                      status: ok
                      message:
                        access_token: <token>
                        refresh_token: <token>
                  auth_error:
                    value:
                      status: err
                      message:
                        error: Неверный логин или пароль
                        meta: "no sql rows"
  /refresh:
    post:
      tags:
        - Регистрация и аутентификация
      summary: Обновление пары токенов
      description: Обновление пары токенов
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                refresh_token: <token>
      responses:
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        400:
          description: Токен отсутствует или имеет неверный тип
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен не refresh
                  meta: Token type is not refresh
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message:
                    access_token: <token>
                    refresh_token: <token>
  /users:
    get:
      tags:
        - Пользователи
      summary: Просмотр пользователей
      description: Просмотр пользователей приложения
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
      responses:
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message:
                      users:
                        -
                          id: "25"
                          name: Сашан
                          email: anaxia@mail.ru
                          company: Сашания
                          role: 1
                        -
                          id: "26"
                          name: Катян
                          email: anaxia@mail.ru
                          company: Катяния
                          role: 0
                        -
                          id: "33"
                          name: Ровшан
                          email: anaxia@mail.ru
                          company: Ровшания
                          role: 1
    post:
      tags:
        - Пользователи
      summary: Создать пользователя
      description:
        Cоздание пользователя приложения.


        "Поле "role" может принимать следующие значения
        <ul>
        <li>Пользователь **0**</li>
        <li>Администратор **1**</li>
        </ul>

      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              name: "Саша"
              company: "Фиксики"
              email: anaxita
              password: qwerty123
              role: 1
      responses:      
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        201:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message:
                    id: "74"  
    patch:
      tags:
        - Пользователи
      summary: Редактировать пользователя
      description:
          Редактирование пользователей приложения


          Для изменения данных **без изменения пароля**, поле "password" передается пустой строкой


          Для **изменения пароля**, помимо других данных - передается заполненное поле "password"
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              id: "75"
              name: "Саша"
              company: "Фиксики"
              email: anaxita
              password: qwerty123
              role: 1
      responses:  
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Пользователь не найден
                  meta: no sql rows
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: updated   
    delete:
      tags:
        - Пользователи
      summary: Удалить пользователя
      description: Удаление пользователя приложения
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              id: "75"
      responses:    
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Пользователь не найден
                  meta: no sql rows
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: Deleted 
  /users/servers:                      
    post:
      tags:
        - Пользователи
      summary: Добавить/удалить сервер у пользователя
      description: Изменение списка доступных пользователю серверов
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "34"
                  servers:
                    type: array
                    example: [
                      id: dfg3456g-45-dfgh-7,
                      id: dfg3456g-45-dfgh-7,
                      id: dfg3456g-45-dfgh-7,
                      id: dfg3456g-45-dfgh-7,
                      ]      
            example:
              user_id: "34"
              servers: [
                id: dfg3456g-45-dfgh-7,
                id: dfg3456g-45-dfgh-7,
                id: dfg3456g-45-dfgh-7,
                id: dfg3456g-45-dfgh-7,
                ]
      responses:      
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: added
  /users/{user_id}/servers:
    get:
      tags:
        - Пользователи
      summary: Просмотр серверов пользователя
      description:
        Возвращает список серверов с отмеченными серверами указанного пользователя


        Если у пользователя есть доступ к серверу, поле "added" будет равно **true**
        

        ID пользователя передается в URI "user_id", например **"/users/35/servers"**
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            example:
              25
          style: simple
      responses:
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message:
                    servers:
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: ""
                        network: ""
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                        added: true
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: ""
                        network: ""
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                        added: false
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: ""
                        network: ""
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                        added: true
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: ""
                        network: ""
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                        added: false

  /servers/update:
    post:
      tags:
        - Сервера
      summary: Обновление данных по всем серверам
      description: Обновление данных в БД по всем серверам со всех гипервизорам
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
      responses:  
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: updated
  /servers:
    get:
      tags:
        - Сервера
      summary: Просмотр серверов
      description: Просмотр серверов приложения
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
      responses:
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message:
                    servers:
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: Running
                        network: "Off"
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: Running
                        network: "Off"
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: Running
                        network: "Off"
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
                      -
                        id: fgh-5-h-dfghrgh--45th--
                        name: SRV_PF
                        hv: DCSRVHV12
                        state: Running
                        network: "Off"
                        company: Промформат
                        description: Такая-то компания и вообще молодцы
                        ip: "172.12.3.0"
                        out_addr: dc.kmsys.ru:5322
    # post:
    #   tags:
    #     - Сервера
    #   summary: Добавить сервер
    #   description: Добавление сервера в приложение
    #   parameters:
    #     - name: Authorization
    #       in: header
    #       required: true
    #       schema:
    #         type: string
    #         example:
    #           Bearer <token>
    #       style: simple
    #     - name: Accept
    #       in: header
    #       required: true
    #       schema:
    #         type: string
    #         example:
    #           application/json
    #   requestBody:
    #     content:
    #       application/json:
    #         schema:
    #             $ref: '#/components/schemas/Server'
    #         example:
    #           name: "SRV_PF"
    #           company: Промформат
    #           description: Такая-то компания и вообще молодцы
    #           out_addr: dc.kmsys.ru:5322
    #           admin: anaxita
    #           password: qwerty123
    #   responses:      
    #     401:
    #       description: Токен истёк или недействителен
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Response'
    #           example:
    #             status: err
    #             message:
    #               error: Токен недействителен
    #               meta: not valid signature
    #     500:
    #       description: Ошибка БД
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Response'
    #           example:
    #               status: err
    #               message:
    #                 err: Ошибка БД
    #                 meta: table is not exist
    #     200:
    #       description: Успешно
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/Response'
    #           example:
    #               status: ok
    #               message:
    #                 id: added  
    patch:
      tags:
        - Сервера
      summary: Редактировать сервер
      description: Редактирование серверов приложения
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              id: sdf2345g-34-g345-dfg-43
              company: Промформат
              description: Такая-то компания и вообще молодцы
              out_addr: dc.kmsys.ru:5322
              user: admin
              password: admin
      responses:  
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        404:
          description: Сервер не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Сервер не найден
                  meta: no sql rows
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: updated   
    delete:
      tags:
        - Сервера
      summary: Удалить сервер из БД
      description: Удаление сервера из приложения
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/User'
            example:
              id: "75"
      responses:    
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        404:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Сервер не найден
                  meta: no sql rows
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: deleted
  /servers/control:
    post:
      tags:
        - Сервера
      summary: Управление сервером
      description:
        Команды

        - start_power  - включить сервер

        - stop_power  - выключить сервер (завершение работы)

        - stop_power_force  - выключить сервер (выключиние по питанию)

        - start_network  - включить сеть (переводит сетевой адаптер в режим "DMZ - Virtual Switch")

        - stop_network  - выключить сеть (переводит сетевой адаптер в режим "нет подключения")


        Поддерживается выполнение **только одной** команды за запрос
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example:
              Bearer <token>
          style: simple
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example:
              application/json
      requestBody:
        content:
          application/json:             
            example:
              server_id: "sdf23-sdf-2345-gds"
              command: "start_power"
      responses:
        400:
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Неизвестная команда
                  meta: command is undefined 
        401:
          description: Токен истёк или недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Токен недействителен
                  meta: not valid signature
        404:
          description: Сервер не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Сервер не найден
                  meta: no sql rows
        403:
          description: Нет прав к данному серверу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                status: err
                message:
                  error: Нет прав к данному серверу
                  meta: not access
        500:
          description: Ошибка БД
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: err
                  message:
                    err: Ошибка БД
                    meta: table is not exist
        200:
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                  status: ok
                  message: accepted                   